.header {
    background-color: #4a4e4d ;
    color: whitesmoke;
    width: 60%;
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 7.5rem;
    font-weight: 700;
}

